
#NavbarFont{
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 900;
}

.NavMargin{
    margin: 0px 2px 6px 2px;
}

.brand{
    max-width: 55px;
    width: 55px;
    max-height: 55px;
    height: 55px;
    margin: 0px 8px 0px 9px;
}