
/* Components*/
.brand{
    max-width: 55px;
    width: 55px;
    max-height: 55px;
    height: 55px;
    margin: 0px 8px 0px 13px;
}

#Navbar a{
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}

