/*@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
    

  }*/
  .gridTemplate{
    display: inline-block;
    width: 100%;
    align-content: center;
    align-items:center;
    height: 100%;
    margin: 10px 10px 0px 0px;

  }
  .backgroundImgLogin{
    width: 100%;
    height: 100%;
}
  .padingLogin{
    padding: 30% 2px 12px 2px;
}


