/* Colors */

.green-1 {
  background-color: rgba(69, 179, 156, 1);
}

/* Fonts */
.txtCoiny{
  font-family: 'Coiny', cursive;
}

.txtOpenSans{
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.txtOpenSans-600{
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
}