/* Colors */

.green-1 {
  background-color: rgba(69, 179, 156, 1);
}


.green-1-light {
  background-color: rgba(70, 180, 156, 0.39);
}

.green-2 {
    background-color: rgba(69, 179, 156, .1);
}

/* Fonts */
.txtCoiny{
  font-family: 'Coiny', cursive;
}

.txtOpenSans{
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.txtOpenSans-600{
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
}


/* Marigns */

.m-0{
  margin: 0;
}
