.conceptos{
    margin: 10px;
    font-weight: 100;
    text-align: center;
}

#registros{
border-bottom-color: rgb(216, 140, 140);
text-align: center;
}

.registros{
  background-color: rgb(166, 190, 201);  
}
#red{
    color: rgb(250, 152, 152);
}

#green{
    color: rgb(125, 235, 243);
}

#yellow{
    color: rgb(239, 248, 112);
}