.content {
    margin: 10px 20px 10px 20px;
    
}

.titulo{
    font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    
    
    max-width: 1236px;
    min-width:580px;
    margin: 0px 8px 0px 9px;
    background-color: rgba(70, 180, 156, 0.39);
    
}

